@import url('https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
	font-size: 1em;
	font-family: 'PT Serif', serif;
    background: #C8D8DD;
}


a{
    color: white;
    text-decoration: none;
    
}

input{
    border-radius: 5px;
    width: 50vw;
    height: 35px;
    text-align: center;
}


/* -----------Inicio do menu/navegação ------------------ */


#logo{
    font-size: 30px;
    font-family: 'Nova Flat', cursive;
}

#menu-topo{
    display: flex;
    justify-content: space-around;
    height: 100px;
    background-color: black;
    padding: 20px 10px;  
}

#navegacao{
    list-style: none;
    display: flex;
    justify-content: space-around;
    height: 60px;
    border: 1px solid white;
    background: black;
    color: white;
    padding: 20px;
    font-family: 'Nova Flat', cursive;
}

#navegacao a:hover{
    color: #80bbff
}

.hamburguer{
    background-color: transparent;
    cursor: pointer;
    color: white;
    border: 0;
    display: none;
    font-size: 20px;  
}


/* Fim do Menu e Navegação ------------------- */

/* ------Incio Baner----- */

#game{
    width: 100%;
    position: relative;
}

#game img{
    width: 100%;
}

#texto-img{
    position: absolute;
    bottom: 70px;
    right: 60px;
    text-align: center;
    padding: 10px;
    color: white;
    font-family: 'Nova Flat', cursive;
    font-size: 40px;
}

#texto-img a:hover{
    text-decoration: underline;
}

.baner{
    width: 100%;
    height: 80vh;
    object-fit:cover;
}

/* ------Fim Baner----- */

/*------------ Inicio dos Produtos em Promoção-------------- */


.titulos{
    display: flex;
    justify-content: center;
    margin: 60px;
    
}

.prod-promo{
    width: 30%;
    height: 500px;
    border: 2px outset rgb(168, 167, 167);
    border-radius: 10px;
    background: white;
    margin-top: 30px;
    margin-bottom: 40px;
    
}

.prod-promo:hover{
  
    height: 502px;
    box-shadow: 6px 7px 3px #666666;
}

.prod-promo a img{
    width: 85%;
    height: 60%;
    margin: 25px;
    border-radius: 5px;
}

.prod-promo span{
    font-size: 20px;
    display: flex;
    justify-content: center;
}

/* ---------- Fim dos produtos em Promoção ---------- */

/* ---------- Inicio do Navegue por Categoria ---------- */

.categoria{
    width: 20%;
    height: 300px;
    border-radius: 50%;
    margin-left: 4%;
    margin-bottom: 70px;
}

/* ------- fim das categorias ---------- */

/* ------- Footer ---------- */

footer{
    height: 310px;
    background: black;
    color: white;
}

#rodape{
    margin-left: 20px;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


/* ------- Carrossel ---------- */

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    
  }
  
 
.mySlides {
    display: none;  
  }

  
  
  /* Botões de proximo e anterior */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* posição do botao "próximo" */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /*efeito hover dos botoes */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Texto do carrossel */
  .text {
    background-color: rgba(0,0,0,0.6);
    padding: 8px 12px;
    position: absolute;
    bottom: 60px;
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Nova Flat', cursive;
    font-size: 40px;
  }

  
  /*Numeraçao dos slides */
  .numbertext {
    color: #f2f2f2;
    font-size: 18px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Animação fade */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


 

  @media screen and (max-width: 768px){

    input{
        width: 40vw;
    }

    #logo{
        font-size: 20px;
    }
 

    #navegacao{
        display: none;  
        flex-direction: column;
        background-color: black;
        color: white;
        width: 100vw;
        height: 210px; 
           
    }


    .hamburguer{
        display: flex;
    }

    .prod-promo{
        width: 80%;
    
    }

    .categoria-home{
        display: none;
    }

    .categoria{
        width: 45%;
        flex-wrap: wrap;
    }

    .text{
        font-size: 30px;
    }

    #rodape{
        font-size: 15px;
        flex-direction: column;
        align-items: center;
    }

    footer{
        height: 100%;
    }    
  }

  @media screen and (max-width: 440px){
      #logo{
          font-size: 17px;
          margin-left: 15px;
      }

      .titulos{
          font-size: 25px;
      }

      .fa-user-circle, .fa-shopping-cart{
          margin-left: 20px;
          margin-bottom: 5px;     
      }
  }

